@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.container > img {
  width: 100vw;
}

/* header */
.header {
  position: absolute;
  width: 100vw;

  background: rgba(26, 84, 116, 0.8);
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

